body {
	background-color: #ececec;
}

p {
	padding: 0px;
	margin: 0px;
}

img {
	border: 1px solid black;
}

.divTitle {
	background-color: #dadada;
	padding-left: 150px;
}

.divTopic {
	margin-top: 20px;
	background-color: #cfe2fe;
	padding-left: 100px;
}
